* {
	color: #bbb;
	color-scheme: dark;
}

body {
	font-family: sans-serif;
	background-color: #333;
}

ul {
	list-style: none;
}

button {
	background-color: #444;
	border: 1px solid #888;
	border-radius: 0.5em;
	padding: 0.5em;
	cursor: pointer;
}

button:disabled {
	background-color: #333;
	border: 1px solid #666;
	color: #999;
	border-radius: 0.5em;
	padding: 0.5em;
	cursor: pointer;
}

input,
textarea,
select {
	background-color: #222;
	border: 1px solid #888;
	border-radius: 0.25em;
	padding: 0.25em;
	accent-color: #bbb;
}

textarea:focus,
input:focus {
	outline: none;
}

#location {
	padding: 0.25em 1em;
	border-radius: 0.5em;
	flex-grow: 1;
}

#nav {
	z-index: 9;
	position: fixed;
	top: 0.5em;
	height: 2em;
	left: 0.5em;
	width: calc(100% - 1em);
	display: flex;
	gap: 0.25em;
	align-items: center;

	button {
		border-radius: 0.5em 0.5em 0 0;
	}

	button:hover {
		background-color: #777;
	}

	button.active {
		border-bottom: none;
	}

	* {
		padding: 0.5em 1em;
		background-color: #444;
		border: 1px solid #888;
	}
}

.tab {
	border: 1px solid #999;
	border-radius: 1em;
	position: fixed;
	inset: 3em 0.5em 0.5em;
	margin: 0;

	.top {
		position: absolute;
		left: 1em;
		top: 0.5em;
	}

	li {
		position: relative;
		top: 6em;
		border-radius: 0.25em;
		padding: 0.25em;
	}
}

#config {
	.add {
		position: absolute;
		left: 1em;
		bottom: 1em;
		padding: 0.5em 1em;
	}

	.manage {
		position: absolute;
		right: 1em;
		bottom: 1em;
	}
}

#explorer {
	padding: 1em;

	li {
		display: flex;
		align-items: center;
		gap: 1em;
		margin-bottom: 0.25em;

		p {
			white-space: nowrap;
			margin: 0;
			padding: 0.25em;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		p.name {
			flex-grow: 1;
		}

		p.size {
			flex: 0 0 5em;
		}

		p.mtime {
			flex: 0 0 12em;
		}
	}

	li.header {
		font-weight: bold;
	}

	li.entry {
		border: 1px solid #555;
		border-radius: 0.5em;

		input.entry-rename {
			display: inline;
		}
	}

	li.entry.selected {
		border: 1px solid #777;
		border-radius: 0.5em;
	}

	.menu {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 10;
	}

	.menu .contents {
		padding: 1em;
		display: flex;
		flex-direction: column;
		border: 1px solid #888;
		background-color: #555;
		border-radius: 0.5em;
		user-select: none;

		div {
			padding: 0.5em;
		}

		div:hover {
			background-color: #666;
			border-radius: 0.5em;
		}
	}

	dialog.create {
		border: 1px solid #999;
		border-radius: 0.5em;
		background-color: #333;
		min-width: 25em;

		.inputs {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			margin-bottom: 3em;
		}

		.error {
			height: 0;
		}

		label {
			font-size: 0.75em;
			display: inline-block;
		}

		button.cancel {
			position: absolute;
			left: 0.5em;
			bottom: 0.5em;
		}

		button.create {
			position: absolute;
			right: 0.5em;
			bottom: 0.5em;
		}
	}
}

#editor textarea.content {
	position: absolute;
	inset: 3em 1em 1em 1em;
	border-radius: 0.5em;
	border: none;
}

#terminal-container {
	position: absolute;
	inset: 5em 1em 1em 1em;
}
