* {
	color: #bbb;
}

body {
	font-family: sans-serif;
	background-color: #333;
}

ul {
	list-style: none;
}

button {
	background-color: #444;
	border: 1px solid #888;
	border-radius: 0.5em;
	padding: 0.5em;
	cursor: pointer;
}

input,
textarea,
select {
	background-color: #222;
	border: 1px solid #888;
	border-radius: 0.25em;
	padding: 0.25em;
}

#location {
	padding: 0.25em 1em;
	border-radius: 0.5em;
	flex-grow: 1;
}

#nav {
	z-index: 9;
	position: fixed;
	top: 0.5em;
	height: 2em;
	left: 0.5em;
	width: calc(100% - 1em);
	display: flex;
	gap: 0.25em;
	align-items: center;

	button {
		border-radius: 0.5em 0.5em 0 0;
	}

	button:hover {
		background-color: #999;
	}

	button.active {
		background-color: #222;
		border-bottom: none;
	}

	* {
		padding: 0.5em 1em;
		background-color: #444;
		border: 1px solid #888;
	}
}

.tab {
	border: 1px solid #999;
	border-radius: 1em;
	position: fixed;
	left: 0.5em;
	top: 3em;
	width: calc(100% - 4em);
	height: calc(100% - 5em);
	margin: 0;

	.title {
		position: absolute;
		left: 1em;
		top: 0.5em;
	}

	li {
		position: relative;
		top: 2em;
		border-radius: 0.25em;
		padding: 0.25em;
	}
}

#config {
	.add {
		position: absolute;
		left: 1em;
		bottom: 1em;
		padding: 0.5em 1em;
	}

	.right {
		position: absolute;
		right: 1em;
		bottom: 1em;
	}
}

#terminal-container {
	position: absolute;
	inset: 1em;
}

li.entry {
	border-radius: 0.25em;
	padding: 0.25em;
}
